body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1
{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /*font-family: 'Great Vibes', cursive;*/
    color: #5FD068;
    
    font-weight: normal;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    color: #FF5F00;
}

a
{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover
{
    color: #EAF6F6;
}

p
{
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

hr
{
    width: 5%;
    border-style: none;
    border-top: dotted #EAF6F6 6px;
    margin: 100px auto;
}

.top-container
{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 50px;
    margin: 70px auto;
}

.middle-container
{
    margin: 100px 0;
}

.bottom-container
{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row
{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.coding
{
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

.momos
{
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}

.pro
{
    text-decoration: underline;
}

.intro
{
    width: 30%;
    margin: auto;
}

.top-cloud
{
    position: absolute;
    right: 250px;
    top: 125px;
}

.bottom-cloud
{
    padding: 100px;
    position: absolute;
    bottom: 275px;
    left: 225px;
    margin: 0;
}

.btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
}
      
.btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
}

.contact-msg
{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright
{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.topnav {
    background-color: #40514E;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #40514E;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: #40514E;
  }